@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: rgb(255, 255, 255);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
  display: flex;
  justify-content: center;
}

header {
  background: #ffffff;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 250px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align:center;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(16, 170, 197);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(255, 0, 191);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(214, 12, 187);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

